/*CSS File*/
.rounded img { 
  height:200px; 
  width:300px;
  border-radius:100px;
  }  

header {
  background-image: url("https://static.pexels.com/photos/109375/pexels-photo-109375.jpeg");
  background-size;cover;
  color:white;
  text-align:center;
  padding:10px;
}

nav {
  line-height:50px;
  background:#333300;
  height:600px;
  width:120px;
  float:left;
  padding:50px;  
}

section {
  width:330px;
  float:left;
  padding:15px;
}

button {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  background: gray;
  color: black;
}

button .two {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  background: gray;
  color: black;
}

button:hover {  
  color:white;
  background:red;
}

footer { 
  background:blue;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}

a {
  color:green;
  text-decoration:none;
}

a:hover {
  color:yellow;
}

