/* css file */
body {   
  background: url('https://static.pexels.com/photos/4602/jumping-cute-playing-animals-medium.jpg');
  background-size: cover;  
  font-family: 'Verona';
  font-size: 900%;
}  

span {
  font-family: 'Montserrat';
  color: orange;
}
