/* css file */
body {
  background: url('https://static.pexels.com/photos/4602/jumping-cute-playing-animals-medium.jpg');
  background-size: cover;  
  font-family: 'Montserrat', sans-serif;
  font-size: 20%;
}  

span {
  font-family: 'Montserrat', sans-serif;
  color: orange;
}
