/* css file */
body {   
  background: href('images/playful-kitten-6683.jpg');
  background-size: cover;  
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
}  

span {
  font-family: 'Montserrat', sans-serif;
  color: orange;
}
